html, body {
  font-family: 'mono';
  font-size: 20px;
  height: 100%;
  background-color: #111;
  color: #aaa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-center {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.container-top {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

button {
 -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 3px;
  margin-bottom: 4px;
  font-size: 18px;
  background-color: #111;
  color: #aaa;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #444;
}

button:active {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

input, select {
  padding: 2px;
  font-size: 18px;
  background: #222;
  border: 1px solid #444;
  color: #aaa;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #666;
}

h2 {
  margin-bottom: 30px;
}
